@tailwind base;

@tailwind components;

.difficultyStyle {
  display: grid;
  gap: 0.1;
  height: fit-content;
  width: fit-content;
  background: transparent;
  &.difficulty-0 {
    display: none;
  }
  &.difficulty-8 {
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  }
  &.difficulty-16 {
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
  }
  &.difficulty-24 {
    grid-template: repeat(24, 1fr) / repeat(24, 1fr);
  }
}

@tailwind utilities;

body {
  @apply px-2 sm:px-0 text-offwhite;
}

.contactInput {
  @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] placeholder-gray-500 transition-all focus:border-sungold/80 focus:text-sungold text-sungold/70 hover:border-sungold/40;
}

.primaryBtn {
  @apply px-6 py-2 mx-2 border rounded-full uppercase text-xs tracking-widest duration-300 border-[#5c0af7] hover:text-sungold;
}

.secondaryBtn {
  @apply px-6 py-2 mx-2 border rounded-full uppercase text-xs tracking-widest duration-300 border-sungold/70 hover:text-sungold;

}

