@tailwind base;

@tailwind components;

.difficultyStyle {
  border: 5px solid #242424;
  display: grid;
  gap: 0.1;
  height: fit-content;
  width: fit-content;
  background: transparent;
  padding-left: 0;
  &.difficulty-0 {
    display: none;
  }
  &.difficulty-8 {
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  }
  &.difficulty-16 {
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
  }
  &.difficulty-24 {
    grid-template: repeat(24, 1fr) / repeat(24, 1fr);
  }
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
  font-weight: 200;
  text-decoration: underline;
}

.game-container {
  border: solid black 10px;
  padding: 3rem;
  background-color: #faedcd;
  width: fit-content;
  height: fit-content;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@tailwind utilities;

@keyframes slideInFromRight {
  0% {
    transform: translateX(1200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-1200%);
  }
  100% {
    transform: translateX(0);
  }
}
